/*-----------------Global style-----------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Exo", sans-serif;
}
/*-----------------Language selector style-----------*/
#lang-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 85px;
    background-color: #FEFDED;
    border-radius: 5px;
}
#lang-wrapper select {
    height: 30px;
    background-color: #FEFDED;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: #424874;
    padding: 5px;
}
#hover {
    cursor: pointer;
    color: red;
}
/*-----------------Dark | Light mode style-----------*/

#theme-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 32px;
    background-color: #FEFDED;
    border-radius: 5px;
    position: relative;
}
#theme {
    appearance: none;
    width: 62px;
    height: 32px;
}
#theme:after {
    content: '';
    display: block;
    width: 10px;
    height: 22px;
    border-radius: 5px;
    background-color: #424874;
    position: absolute;
    top: 5px;
    left: 3px;
}
#theme:checked:after {
    background-color: #e88c8c;
    transform: translateX(40px);
}
#theme:checked {
    background-color: #FEFDED;
    border-radius: 5px;
}

/*--------Inputs style ---------*/
.input-style {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    background-color: #FEFDED;
    color: #424874;
}
/*--------Card style ---------*/
.card {
    max-width: 300px;
    max-height: 520px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #e88c8c;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 18px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card img {
    object-fit: cover;
    height: 200px;
}
.card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card .card-body h3 {
    font-size: 20px;
    font-weight: 500;
    color: #424874;
}
.card .card-body strong {
    color: #424874;
    text-decoration: underline;

}
#card-heart {
    font-size: 20px;
    font-weight: 500;
    color: #000;
}
.card .card-body span {
    margin-left: 10px;
}
.card-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}


#add-like{
    appearance: none;
}
#add-like:after{
    font-family: "Font Awesome 5 Free";
    content: "\f004";
    color: #000;
    font-size: 24px;
}
#add-like:checked:after {
    color: red;
    font-weight: bold;
}
#add-like:after:hover {
    transform: scale(1.2)
}
.read-more-btn {
    color: #424874;
    text-decoration: underline;
}
/*header likes*/
.likes-wrapper {
    margin-right: 20px;
}
#liked {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-heart {
    font-size: 22px;
    font-weight: 900;
    color: #FEFDED;
}
#likes-count {
    position: absolute;
    top: -16px;
    left: 16px;
    font-size: 20px;
    font-weight: 500;
    color: #FEFDED;
}
/*-----Loader----*/
.loader-wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    position:  fixed;
}

.loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #000;
    box-shadow: 0 0 0 0 #0004;
    animation: l2 1.5s infinite linear;
    position: relative;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 0 #0004;
    animation: inherit;
    animation-delay: -0.5s;
}
.loader:after {
    animation-delay: -1s;
}
@keyframes l2 {
    100% {box-shadow: 0 0 0 40px #0000}
}

/*Header*/
header, aside {
    background-color: #424874;
}
main {
    background-color: #F4EEFF;
}




/*-----------Dark mode---------*/
.dark {
    background-color: #2C394B;
    color: #fff;
}
.dark-0 {
    background-color: #4B5D67;
    color: #fff;
}

/*Toaster*/
.toaster {
    position: sticky;
    top: 0;
    left: 100%;
    color: #000;
    border: none;
    width: 700px;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
    border-radius: 4px;
    transform: scale(0);
    z-index: 999999999999;
}
.toaster .toaster-start {
    border-radius: 4px;
    width: 80px;
    height: 80px;
    font-size: 48px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toaster .toaster-middle  {
    padding-right: 180px;
}
.toaster .toaster-end {
    font-size: 28px;
    width: 50px;
}


.bg-success {
    background-color: #95D2B3;
}
.bg-error {
    background-color: #EE4E4E;
}
.bg-warning {
    background-color: #F4CE14;
}
.color-success {
    color: #95D2B3;
}
.color-error {
    color: #EE4E4E;
}
.color-warning {
    color: #F4CE14;
}

.show {
    animation: animateToaster 0.5s linear forwards;
}

/*Animation*/
@keyframes animateToaster {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0);
    }
}





























